<h1>Plain Table</h1>
<%= pagy_table %>

<h1>Styled Table</h1>
<%= pagy_table(
  pagy_table_style: "table table-stripe table-hover",
  pagy_table_tr_style: "tr_style",
  pagy_table_th_style: "th_style",
  pagy_table_td_style: "td_style"
) %>

<h1>Methods</h1>
Public => <%= PagyTableHelper.public_instance_methods %>
Private => <%= PagyTableHelper.private_instance_methods %>