<table class="table table-striped">
  <thead>
    <th class="">Head 1</th>
    <th class="">Head 2</th>
    <th class="">Head 3</th>
  <thead>
  <tbody>
    <td>TD1</td>
    <td>TD2</td>
    <td>TD3</td>
  </tbody>
</table>